.foto_50{
	width:250px;
	height:135px;
}
.foto_albom{
	margin:0;
	padding:0;
	list-style:none;
}
.foto_albom li{
	text-align:center;
	margin:3px;
	display:inline-block;
	vertical-align:top;
	overflow:hidden;
}
.foto_albom li a, .linkF{
	text-decoration:none;
	color:#333;
	font-weight:bold;
}
.foto50Text{
	font-size:15px;
	font-weight:bold;
}
.foto50Text li{
    border:1px solid green;
    border-radius: 15px;
    background: #fff;
    max-width:250px;
}
.foto50Text li{
	margin:4px;
}
.minDateTable{
	max-height:500px;
}
.maxDateTable{
}

TD{
    padding: 0px; /* Поля вокруг текста */
	/*border-left:1px solid red;*/
   }
 
.year{
	border-left:1px solid red;
} 
   
#SpeechFilterForm, .vdiskus{ 
	
	/*background: -webkit-gradient(linear, left top, right  top, from(#EAEAEA), to(#BBBBBB));*/
	 background:#ccc;
	/*background: -moz-linear-gradient(left top, #EAEAEA, #BBBBBB);  */
}

html, body, #mapYa {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#menuYa {
    position: absolute;
    width: 12em;
    background: #FFFFCC;
    border: 3px solid #006600;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}
#menuYa ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
#menuYa input {
    width: 10em;
}

.menuMapObj{
    position: absolute;
	top:100px;
	z-index:5;
	background-color:white;
	padding:5px;
	border:1px solid green;
}

.imgMapIlum{
	border:3px solid blue;
}

.rotatable{
	-webkit-transform: rotate(-90deg); //Chrome, Safari
	-moz-transform: rotate(-90deg); //Firefox
	-o-transform: rotate(-90deg); //Opera
	-ms-transform: rotate(-90deg); //IE
	transform: rotate(-90deg); //браузеры без префексов
}
